@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import "tailwindcss";

:root {
    --font-family-base: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Arial, sans-serif;

    --body-size: 16px;
}

@theme {

    /* Brand */
    --color-primary: #0F2A44;
    --color-primary-hover: #173A5E;

    --color-secondary: #E08E2E;
    --color-secondary-hover: #C7771C;

    --color-accent: #1FA4A9;
    --color-accent-hover: #178489;
    --color-accent-soft: #D2F3F4;

    /* Semantic */
    --color-success: #1F7A5A;
    --color-error: #9F2B2B;
    --color-warning: #C28B00;
    --color-info: #2F6DB3;

    /* UI */
    --color-background: #F9FAFB;
    --color-surface: #FFFFFF;
    --color-border: #E3E6EA;

    --color-text-main: #1F2933;
    --color-text-secondary: #4B5563;
    --color-text-muted: #9CA3AF;
}

@utility text-h1 {
    font-size: 32px;
    line-height: 1.25;
    font-weight: 700;
}

@utility text-h2 {
    font-size: 24px;
    line-height: 1.3;
    font-weight: 600;
}

@utility text-h3 {
    font-size: 18px;
    line-height: 1.4;
    font-weight: 600;
}

@utility text-body {
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}

@utility text-body-sm {
    font-size: 14px;
    line-height: 1.5;
    font-weight: 400;
}

@utility text-caption {
    font-size: 12px;
    line-height: 1.4;
    font-weight: 400;
}

body {
    font-family: var(--font-family-base);
    font-size: var(--body-size);
    line-height: 1.5;
}